@{
    ViewData["Title"] = "About";
}
<h2>ABOUT</h2>

<h3 class="mt-5">Description:</h3>
<p style="font-size:x-large">Suggest food recipe based on ingredients. Users enter a list of ingredients, and the website shows a list of recommendations.</p>
<br />
<h3 class="mt-5">What do we provide:</h3>
<ul style="font-size:x-large">
    <li>Recipe suggestion</li>
    <li>Words suggestions</li>
    <li>Random daily recipe suggestion</li>
    <li>Send notifications about recipes</li>
</ul>
<br />
<h3 class="mt-5">How to use the website:</h3>
<ol style="font-size:x-large">
    <li>Go to the "Recipe suggestion" page</li>
    <li>Enter ingrerients</li>
    <li>Click the "Show Recipe" button</li>
</ol>
