<h2>ABOUT</h2>

<h5 class="mt-5">description:</h5>
<p>Suggest food recipe based on ingredients. Users enter a list of ingredients, and the website shows a list of recommendations.</p>

<h5 class="mt-5">What do we provide:</h5>
<ul>
    <li>Recipe suggestion</li>
    <li>Words suggestions</li>
    <li>Random daily recipe suggestion</li>
    <li>Send notifications about recipes</li>
</ul>
<br />
<h5 class="mt-5">How to use the website:</h5>
<ol>
    <li>Go to the "Recipe suggestion" page</li>
    <li>Enter ingrerients</li>
    <li>Click the "Show Recipe" button</li>
</ol>