@{
    ViewData["Title"] = "Contact Us";
}
<h1 style="color:green;">
    <u>Contact Us</u>
</h1>

<h1 style="color:green; ">
    Developer's Name:
</h1>
<p style="font-size:x-large">
    Ba Huy Pham <br />
    Nahom Kidanemariam <br />
    Jooho Lee
</p>

<h1 style="color:green;">
    Email:
</h1>
<p style="font-size:x-large">
    hpham4280@conestogac.on.ca<br />
    Nkidanemariam9613@conestogac.on.ca<br />
    Jlee1030@conestogac.on.ca
</p>
<body>
    <left>
        <h1 style="color:green;">
            Conestoga College: 
        </h1>

        <div>
            <!--Google Map Copied Code-->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92676.08673290804!2d-80.54056871361229!3d43.457930890541014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf31d0cec9491%3A0x8bf5f60c306d2207!2sConestoga%20College%20-%20Waterloo!5e0!3m2!1sen!2sca!4v1647609691423!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                width="400"
                height="300"
                frameborder="0"
                style="border:0;"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0">
            </iframe>
        </div>
    </left>
</body>
