<div class="thumbnail card shadow">
    <div class="clearfix">
        <img src="~/Images/spaghetti.jpg" alt="Pasta" style="width:50%" class="float-right">
        <h5 class="float-left mr-3">Measurement</h5>
        <p>50g sugar, 50g salt, 50g butter</p>

            <h3>How to cook?</h3>
            <ol>
                <li>do what</li>
                <li>do what</li>
                <li>do what</li>
                <li>do what</li>
                <li>do what</li>
                <li>do what</li>
                <li>do what</li>
            </ol>
            <h3>How to serve chicken shawarama</h3>
    </div>
</div>