@{
    ViewData["Title"] = "Home Page";
}

<h2 class="mb-5">Enter the ingredients to search recipes!</h2>
<div class="row">
    <div class="col-8">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="" asp-controller="" asp-action="">
            <label>Ingredient 1:</label>
            <input class="form-control col-lg-4 col-md-4 col-sm-6 col-xs-12" />
            <label>Ingredient 2:</label>
            <input class="form-control col-lg-4 col-md-4 col-sm-6 col-xs-12" />
            <label>Ingredient 3:</label>
            <input class="form-control col-lg-4 col-md-4 col-sm-6 col-xs-12" />
            <label>Ingredient 4:</label>
            <input class="form-control col-lg-4 col-md-4 col-sm-6 col-xs-12" />
            <label>Ingredient 5:</label>
            <input class="form-control col-lg-4 col-md-4 col-sm-6 col-xs-12" />

            <button type="submit" class="btn btn-primary mt-5">
                Show Recipe
            </button>
        </form>
    </div>
    <div class="col-4">
        <div class="img-thumbnail card shadow">
            <div class="card-body by-light">
                <h5 class="card-title">Daily Suggestion</h5>
                <img src="~/Images/spaghetti.jpg" alt="Spaghetti image" class="img-fluid"/>
                <p class="card-text">Image and description</p>
                <button class="btn btn-primary">
                    See more
                </button>
            </div>
        </div>
    </div>
</div>
