@model List<Recipe>
<h1>Recently view</h1>

<!-- Back-end processing, please contact Huy before modifing -->
@{
    // if there is actually at least 1 recipe
    if (Model != null)
    {
        if (Model.Count > 0)
        {
            foreach (Recipe recipe in Model)
            {
                <p>@recipe.Title</p>
                // HTML code here
            }
        }
        // in case no recipes are in recently viewed list
        else
        {
            <p>No recently viewed recipes.</p>
        }

    }
}
<!-- ---------- -->