<div class="container">
    <div class="row d-sm-block">
        <div class="col-sm-8 float-left">
            @*Use foreach to get recipe automatically*@
            <div class="thumbnail card shadow mb-1">
                <div class="clearfix">
                    <img src="~/Images/spaghetti.jpg" alt="Spaghetti image" style="width:30%" class="float-left mr-2">
                    <h5>Spaghetti</h5>
                    <p><strong>Ingredients:</strong> Tomato, Garlic, Pasta</p>
                    <p><strong>Country:</strong>Italian</p>
                    
                </div>
            </div>

            <div class="thumbnail card shadow mb-1">
                <div class="clearfix">
                    <img src="~/Images/spaghetti.jpg" alt="Spaghetti image" style="width:30%" class="float-left mr-2">
                    <h5>name: Spaghetti</h5>
                    <p>Description: Hello</p>
                </div>
            </div>

            <div class="thumbnail card shadow mb-1">
                <div class="clearfix">
                    <img src="~/Images/spaghetti.jpg" alt="Spaghetti image" style="width:30%" class="float-left mr-2">
                    <h5>name: Spaghetti</h5>
                    <p>Description: Hello</p>
                </div>
            </div>

            <div class="thumbnail card shadow mb-1">
                <div class="clearfix">
                    <img src="~/Images/spaghetti.jpg" alt="Spaghetti image" style="width:30%" class="float-left mr-2">
                    <h5>name: Spaghetti</h5>
                    <p>Description: Hello</p>
                </div>
            </div>
            <div class="thumbnail card shadow mb-1">
                <div class="clearfix">
                    <img src="~/Images/spaghetti.jpg" alt="Spaghetti image" style="width:30%" class="float-left mr-2">
                    <h5>name: Spaghetti</h5>
                    <p>Description: Hello</p>
                </div>
            </div>
            <div class="thumbnail card shadow mb-1">
                <div class="clearfix">
                    <img src="~/Images/spaghetti.jpg" alt="Spaghetti image" style="width:30%" class="float-left mr-2">
                    <h5>name: Spaghetti</h5>
                    <p>Description: Hello</p>
                </div>
            </div>
            <div class="thumbnail card shadow mb-1">
                <div class="clearfix">
                    <img src="~/Images/spaghetti.jpg" alt="Spaghetti image" style="width:30%" class="float-left mr-2">
                    <h5>name: Spaghetti</h5>
                    <p>Description: Hello</p>
                </div>
            </div>
        </div>

        @*sidebar*@
        <div class="col-sm-4 float-right">

            <div class="img-thumbnail card shadow">
                <div class="card-body by-light">
                    <h5 class="card-title">Daily Suggestion</h5>
                    <img src="~/Images/spaghetti.jpg" alt="Spaghetti image" class="img-fluid" />
                    <h5>Spaghetti</h5>
                    <p><strong>Ingredients:</strong> Tomato, Garlic, Pasta</p>
                    <p><strong>Country:</strong>Italian</p>
                    <button class="btn btn-primary">
                        See more
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>