<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="main.css" rel="stylesheet">
    </head>

    <body>
        <h1 class="jumbotron">Login</h1>
        <form>
            <label>Email Address:</label>
            <input type="text" name="email" id="email" placeholder="Jsmith123@gmail.com">
            <br>
            <label>Password:</label>
            <input type="password" name="password" id="password">
            <br>
            <button type="submit" id="submitButton">Submit</button>
            <br>
            <a class="buttonLink" href="#">Forget Password?</a>
            <a class="buttonLink" href="#">Create New Account</a>
        </form>
    </body>
</html>