.loginTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;

}
.loginForm {
    margin-top: 150px;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

label {
    text-align: left;
    float: left;
    width: 150px;
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 20px;
}
input {
    width:300px;
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 20px;

}
#submitButton{
    display: block;
    background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.buttonLink{
    margin-top: 1%;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
#submitButton:hover, .buttonLink:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}