@{
    ViewData["Title"] = "About";
}
<h1 style="color:green;">
    <u>About</u> </h1>

<h1  style="color:green;" class="mt-5">Description:</h1>
<p style="font-size:x-large">Suggest food recipe based on ingredients. Users enter a list of ingredients, and the website shows a list of recommendations.</p>
<br />
<h1 style="color:green;"class="mt-5">What do we provide:</h1>
<ul style="font-size:x-large">
    <li>Recipe suggestion</li>
    <li>Words suggestions</li>
    <li>Random daily recipe suggestion</li>
   
</ul>
<br />
<h1  style="color:green;" class="mt-5">How to use the website:</h1>
<ol style="font-size:x-large">
    <li>Go to the "Recipe suggestion" page</li>
    <li>Enter ingrerients</li>
    <li>Click the "Show Recipe" button</li>
</ol>
